
/* X Small devices (phones,  smaller than 576px) */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container{
        margin: 0 auto;
        width: 30rem !important;
    }
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container{
        margin: 0 auto;
        width: 45rem !important;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        margin: 0 auto;
        width: 50rem !important;
    }
 }

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        margin: 0 auto;
        width: 60rem !important;
    }
 }

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .container{
        margin: 0 auto;
        width: 60rem !important;
    }
 }

/* Nav Bar Styling */
nav {
    background-color:rgb(51, 51, 51);
    font-size: large;
    color: white;
  } 
  nav a:hover {
    color: rgb(9, 167, 170) !important; 
  }
  
  /* Carousel Styling */
  
  .carousel {
    box-shadow: 7px 7px 31px -1px rgba(0,0,0,0.75);
  }
  
  /* Header Styling */
  h1 {
      background-color: #febe0fab;        
  }
  h2 {
      background-color: #28bdc2a8;
  }
  h4 {
      background-color: #febe0fab;
  }

#members-section{
    /*background-color:#24252a !important; */
    color: black;
    text-align: center;
}

#id-section{
    text-align: center;
}

.headings{
    text-align: center;
    background-color: lightblue;
}

#id-section p{
    margin-bottom: 2rem;
}

#mens-masters{
    margin-bottom: 3rem;
}







/* STYLING FOR THE FOOTER STARTS HERE */

main{
    height: 84rem; 
}

footer{
    background: #24252a;
    padding: 3.125rem 1.25rem;
}

footer .container{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .ftr h3{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

footer .content{
    list-style: none;
}

footer .content a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    line-height: 30px;
    transition: 0.3s ease ;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}
footer .content li{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    line-height: 1.875rem;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;

}
footer .content a:hover{
    /* color: #0088a9 Changed after feedback was received from members of team*/
    color: rgb(9, 167, 170)
}

footer .ftr{
    flex-basis: 18%;
}

form{
    display: flex;
    align-items: center;
    width: 100%
}

input{
    border: none;
    outline: none;
    padding: 0.625rem;
    margin: 0.313rem 0rem;
    background-color: #f5f5f5;

}

.btn input{
    background-color: rgba(0,136,169,1);
    /* background-color: rgb(9, 167, 170); Changed after receving feedback from Rayes */
    color: #fff;
    transition: 0.3s ease;
}


.btn input:hover{
    background: black;
}
