<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../Stylesheet/style_portal.css" rel="stylesheet" type="text/css" />
    <title>Portal</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand mx-0" href="#"><img src="../resized-images/Logos/RBOCC_WHITE_COLOUR.png" width="70" alt=""></a>
            <p class=".justify-content-md-center mx-lg-4">Red Beach Outrigger Canoe Club</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Safety</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Portal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Club Portal</h1>
    <p>Red Beach Waka Ama Club expects all registered members to commit a certain amount of time and dedication towards activities that the club organizes and involves itself in.</p>
    <p>As a member of the club your responsibilities are to:</p>
    <ul>
        <li>Foster the visions, values and objectives of the club</li>
        <li>Maintain the integrity of the Club at all times</li>
        <li>Commit to your team and be a team player</li>
        <li>Treat all of the clubs equipment with care and report any damages as per the appropriate guidelines</li>
        <li>Abide by the safety rules and regulations</li>
        <li>Treat all members of the club with courtesy and respect</li>
        <li>Participate in social hui events</li>
        <li>Assist in fundraising activities</li>
        <li>Pay membership fees on time</li>
    </ul>
   <p>Log into you Club Portal Insert Link</p>
   <footer>
    <div class="container">
        <div class="ftr">
            <h3>Explore:</h3>
            <ul class="content">
                <li><a href="index.html">Home</a></li>
                <li><a href="chalet.html">Safety</a></li>
                <li><a href="how_to_join.html">Contact</a></li>
            </ul>
        </div>
        <div class="ftr">
            <h3>Contact:</h3>
            <ul class="content">
                <li><a>Address: Ngapara Street, Red Beach 0932</a></li>
                <li><a>(+64) 800 919191</a></li>
            </ul>
        </div>
        <div class="ftr">
            <h3>Stay connected:</h3>
            <ul class="content">
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.twitter.com">Twitter</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
            </ul>
        </div>
        <div class="ftr">
            <h3>Red Beach Outrigger Canoe Club Newsletter</h3>
            <form action="#">
                <input type="email" placeholder="Enter your Email." required>
                <div class="btn">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>